
.logo a {
  color: black;
}
.logo a:hover {
  color: gray;
}

@media screen and (max-width: 576px) {
  .logoimage {
    text-align: center;
  }
  .topmenu {
    justify-content: center !important;
  }
  .content img {
    width: 100%;
  }
}
.footer {
  padding: 20px 0;
  background-color: black;
}
.footer a,
.footer h4 {
  color: white;
}
